[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/composer"]
	path = cookbooks/composer
	url = https://github.com/mp-php/chef-resources-composer.git
